body,
html {
  height: 100%;
}

.note:focus {
  background: #ffff88;
  outline: none;
}

.note:hover {
  cursor: pointer;
  background: #ffff88;
}

.scale-instrument {
  margin: 0 0 0 0;
  padding: 0.5rem;
  max-width: 465px;
}

.hidden {
  display: none;
}

.black-line {
  position: relative;
  color: black;
  width: 100%;
  height: 4px;
  background: linear-gradient(
    to right,
    rgb(40, 40, 40),
    black,
    rgb(40, 40, 40),
    black
  );
  margin-top: 25px;
  border-radius: 50px;
  box-shadow: 2px 2px 5px rgba(37, 37, 37, 0.699);
}

.note {
  width: 18px;
  height: 10px;
  border-radius: 50%;
  margin-right: -10%;
  transform: rotate(-15deg);
  background: black;
  border: none;
  filter: drop-shadow(0px 3px 3px rgba(37, 37, 37, 0.699));
  /* filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(202deg) brightness(114%)
    contrast(95%) drop-shadow(0px 3px 3px rgba(37, 37, 37, 0.699)); */
}

.accent {
  width: 20px;
  font-size: 20pt;
  margin-right: -12px;
  margin-top: -20px;
  font-weight: 1.2;
  filter: drop-shadow(0px 3px 3px rgba(233, 233, 233, 0.699));
  /* &#x266d */
}

.c-under {
  margin-right: -10%;
}

.line-container {
  display: flex;
  flex-direction: column;
  z-index: -1;
}
.note-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-end;
  z-index: 10;
}

.part-container {
  width: 100%;
  height: 10px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.part-container:nth-child(8) {
  bottom: -5px;
}

.part-container:nth-child(7) {
  top: -3px;
}

.part-container:nth-child(6) {
  top: -8px;
}

.part-container:nth-child(5) {
  left: 5px;
  top: -22px;
}

.part-container:nth-child(4) {
  bottom: 36px;
}

.part-container:nth-child(3) {
  bottom: 50px;
}

.part-container:nth-child(2) {
  bottom: 65px;
}

.part-container:nth-child(1) {
  bottom: 85px;
}

.last {
  background: black;
  position: absolute;
  height: 4px;
  width: 50px;
  right: 92%;
  top: 223px;
  z-index: 0;
  opacity: 0.9;
}

.treble {
  display: none;
}

@media only screen and (min-width: 768px) {
  .part-container {
    margin-left: -20px;
  }

  .note {
    width: 30px;
    height: 15px;
  }

  .accent {
    font-size: 25pt;
    margin-top: -25px;
    margin-left: 5px;
  }

  .part-container .note:first-child {
    margin-right: 15px;
  }

  .part-container:nth-child(8) {
    bottom: -10px;
  }

  .part-container:nth-child(7) {
    top: -3px;
  }

  .part-container:nth-child(6) {
    top: -8px;
  }

  .part-container:nth-child(5) {
    top: -25px;
  }

  .part-container:nth-child(4) {
    bottom: 38px;
  }

  .part-container:nth-child(3) {
    bottom: 52px;
  }

  .part-container:nth-child(2) {
    bottom: 68px;
  }

  .part-container:nth-child(1) {
    left: 10px;
    bottom: 83px;
  }
}

@media only screen and (min-width: 1024px) {
  .note-container {
    margin-left: 5.2em;
  }

  .treble-clef {
    position: absolute;
  }

  .treble {
    display: inherit;
    width: 90px;
  }

  .note {
    height: 13px;
    width: 22px;
  }

  .accent {
    margin-right: -12px;
    margin-top: -20px;
    font-size: 18pt;
  }

  .part-container {
    margin-right: 8px;
  }
  .part-container .note:first-child {
    margin-right: 15px;
  }

  .part-container:nth-child(8) {
    bottom: -15px;
  }

  .part-container:nth-child(7) {
    top: -3px;
  }

  .part-container:nth-child(6) {
    top: -9px;
  }

  .part-container:nth-child(5) {
    top: -25px;
  }

  .part-container:nth-child(4) {
    bottom: 38px;
  }

  .part-container:nth-child(3) {
    bottom: 50px;
  }

  .part-container:nth-child(2) {
    bottom: 68px;
  }

  .part-container:nth-child(1) {
    bottom: 81px;
  }
}
